<div class = "date-container">
  <% for day in 0..@counter %>
      <div id = "date-<%= day + 1%>"class = "date-block"  <% if (@start + day.days).to_date < Date.today then %>style="background-color: #CCCCCC !important; "  <% end%> <% if (@start + day.days).to_date == Date.today then %>style="background-color: #3498db !important ; " <%end %>>
        <p style="text-align: center">
          <%= (@start + day.days).day %>
          <br>
          <%= (['', 'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'])[(@start + day.days).month] %>
          <br>
          <%= (@start + day.days).year %>
        </p>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  var granimInstance = new Granim({
    element: '#canvas-basic',
    name: 'basic-gradient',
    direction: 'left-right',
    opacity: [1, 1],
    isPausedWhenNotInView: true,
    states : {
      "default-state": {
        gradients: [
          ['#AA076B', '#61045F'],
          ['#02AAB0', '#00CDAC'],
          ['#DA22FF', '#9733EE']
        ]
      }
    }
  });
</script>